<div class="field">
  <label class="label">ユーザー名</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-left">
      <i class="nc-icon nc-single-02" style="font-size: 12px;"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <p class="help is-success">This username is available</p>
</div>


<div class="field">
  <label class="label">パスワード</label>
  <div class="control has-icons-left has-icons-right">
    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
    <span class="icon is-small is-right">
      <i class="nc-icon nc-check-2" style="font-size: 12px;"></i>
    </span>
  </div>
  <p class="help is-success">よさそう</p>
</div>

<div class="field is-grouped">
  <div class="control">
    <button class="button is-link">ログイン</button>
  </div>
</div>
