<section class="container" style="padding-bottom: 100px;">
  <div *ngFor="let article of articleList; let i = index">
    <div class="columns features" *ngIf="i % 3 == 0">
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/2.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>

          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i].title }}</h4>
              <br />
              <p
                style="text-align:left; font-size:12px; color:grey; margin-bottom:0.5em;"
              >
                空間ディレクション・プロデュース
              </p>
              <p style="text-align:left; font-size:12px; color:grey;">
                東京・代々木公園 ｜ 〜 2019.9.25
              </p>
              <a (click)="redirect(articleList[i].id)">
                <span
                  class="button is-link modal-button"
                  data-target="modal-image2"
                  style="background-color:#ee771c;font-size: 14px;"
                  >詳細を見る</span
                >
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/4.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i + 1].title }}</h4>
              <br />
              <p
                style="text-align:left; font-size:12px; color:grey; margin-bottom:0.5em;"
              >
                家具・小物バイヤー、バイヤー助手
              </p>
              <p style="text-align:left; font-size:12px; color:grey;">
                佐賀・鹿島 ｜ 〜 2019.9.23
              </p>

              <span
                class="button is-link modal-button"
                data-target="modal-image2"
                style="background-color:#ee771c;font-size: 14px;"
                >詳細を見る</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="card is-shady">
          <div class="card-image">
            <figure class="image is-4by3">
              <img
                src="/assets/img/top/5.jpg"
                alt="Placeholder image"
                class="modal-button"
                data-target="modal-image2"
              />
            </figure>
          </div>
          <div class="card-content">
            <div class="content">
              <h4>{{ articleList[i + 2].title }}</h4>
              <br />
              <p
                style="text-align:left; font-size:12px; color:grey; margin-bottom:0.5em;"
              >
                家具・小物バイヤー、バイヤー助手
              </p>
              <p style="text-align:left; font-size:12px; color:grey;">
                佐賀・鹿島 ｜ 〜 2019.9.23
              </p>

              <span
                class="button is-link modal-button"
                data-target="modal-image2"
                style="background-color:#ee771c;font-size: 14px;"
                >詳細を見る</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
