<button class="button invite-room-button is-rounded" (click)="toggleModal()">招待する</button>
<div class="modal" [class.is-active]="isOpen">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-card">
    <section class="modal-card-body">
      <div class="field">
        <label class="label">招待するユーザーを選択</label>
        <div class="select">
          <select class="select" [(ngModel)]="toUser">
            <option *ngFor="let x of listUser" [ngValue]="x.id">
              {{x.username}}
            </option>
          </select>
        </div>
        <p class="help">This is a help text</p>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button invite-room-button is-medium" (click)="inviteUser()">招待する</button>
        </div>
        <div class="control">
          <button class="button is-medium" (click)="toggleModal()">やめる</button>
        </div>
      </div>
    </section>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
</div>
