<div class="navigation-bar">
  <a [routerLink]="['/']" routerLinkActive="router-link-active">
    <i class="nc-icon nc-bullet-list-67" style="font-size: 24px;"></i>
  </a>
  <a [routerLink]="['/messenger']" routerLinkActive="router-link-active">
    <i class="nc-icon nc-bookmark-2" style="font-size: 24px;"></i>
    <!-- <i class="nc-icon nc-favourite-28" style="font-size: 24px;"></i> -->
  </a>
  <a [routerLink]="['/messenger']" routerLinkActive="router-link-active">
    <i class="nc-icon nc-chat-33" style="font-size: 24px;"></i>
  </a>
  <a [routerLink]="['/messenger']" routerLinkActive="router-link-active">
    <i class="nc-icon nc-bell-55" style="font-size: 24px;"></i>
  </a>
  <a [routerLink]="['/applicantAdmin/profile']" routerLinkActive="router-link-active">
    <i class="nc-icon nc-single-02" style="font-size: 24px;"></i>
  </a>
</div>
