<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img
              class="avatar border-gray"
              src="assets/img/mike.jpg"
              alt="..."
            />
            <h5 class="title">杉山英一</h5>
          </a>
          <p class="description">
            @eiichisugiyama
          </p>
        </div>
        <p class="description text-center">
          "頑張って働きます！！！"
        </p>
        <div style="padding: 10px;">
          <p class="description text-left" style="margin: 0;">
            スキル
          </p>
          <div class="d-flex">
            <div>
              <button
                type="submit"
                class="btn  btn-round"
                style="background-color:#70d4d7"
              >
                プログラミング
              </button>
            </div>
            <div>
              <button
                type="submit"
                class="btn  btn-round"
                style="background-color:#70d4d7"
              >
                新規事業
              </button>
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-round"
                style="background-color:#70d4d7"
              >
                会計
              </button>
            </div>
          </div>
        </div>
        <div style="padding: 10px;">
          <p class="description text-left" style="margin: 0;">
            性格
          </p>
          <div class="d-flex">
            <div>
              <button
                type="submit"
                class="btn  btn-round"
                style="background-color: #f6b989;"
              >
                照れ屋
              </button>
            </div>
            <div>
              <button
                type="submit"
                class="btn  btn-round"
                style="background-color: #f6b989;"
              >
                気さく
              </button>
            </div>
            <div>
              <button
                type="submit"
                class="btn  btn-round"
                style="background-color: #f6b989;"
              >
                お調子者
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Username</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Username"
                  value="eiichisugiyama"
                />
              </div>
            </div>

            <div class="col-md-7 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>First Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Company"
                  value="英一"
                />
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Last Name</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Last Name"
                  value="杉山"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="City"
                  value="東京都江東区"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control textarea">
フルスタックなITエンジニアです。</textarea
                >
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>性格</label>
                <div class="d-flex">
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: grey;"
                    >
                      真面目
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: #f6b989;"
                    >
                      気さく
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: #f6b989;"
                    >
                      お調子者
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: grey;"
                    >
                      もの静か
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: #f6b989;"
                    >
                      照れ屋
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color: grey;"
                    >
                      おおざっぱ
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>スキル</label>
                <div class="d-flex">
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color:#70d4d7"
                    >
                      プログラミング
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color:grey"
                    >
                      マーケティング
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color:grey"
                    >
                      デザイン
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color:#70d4d7"
                    >
                      新規事業
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn  btn-round"
                      style="background-color:grey"
                    >
                      ライター
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn btn-round"
                      style="background-color:#70d4d7"
                    >
                      会計
                    </button>
                  </div>
                  <div>
                    <button
                      type="submit"
                      class="btn btn-round"
                      style="background-color:grey"
                    >
                      営業
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Background Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Profile Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Update Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
