<section class="container" style="padding-bottom: 100px;">

    <div class="container" style="font-family:sans-serif;">
        <div class="terms">
            <h1>利用規約</h1>
            <p>Legal Information & Notices</p>
        </div>
        <hr style="color:gray; width:100%; size:2px;margin-top:45px;">

        <div class="terms1">
            <h3>地域コミュニティ情報求人情報提供サービス</h3>
            <p>1.　LoTre（Local
                Treasure）とは、株式会社カラーライズ（以下「当社」といいます。）が提供する地域コミュニティ型アルバイト検索サイト（http://www./）ならびに当該サイトに付随するメール配信その他の各種情報提供サービスの総称をいい、以下「本サービス」といいます。
                2.　本サービスをご利用になる方（以下「ユーザー」といいます）は、自らの意思および責任のもと、本サービスをご利用ください。
            </p>
        </div>

        <div class="terms2">
            <h3>会員登録</h3>
            <p>１．本サービスのユーザーのうち本サービスの会員として登録を希望するユーザー（以下「登録希望者」といいます。）は、当社に対し、当社の定める一定の事項（以下「登録事項」といいます。）を当社の定める方法で当社に提供することにより、本サービスの会員（以下「本会員」といいます。）の登録を申請することができます。
                ２．当社は、前項の規定に基づき登録希望者から登録申請がなされた場合、当社の基準に従って、当社が登録希望者の会員の登録を認める場合には、その旨を登録希望者に対し連絡します。
                ３．前項に連絡がきた登録希望者が、当社の指定した手続きを完了した場合に、本サービスにおいて会員として登録されます。
                ４．当社は、登録希望者及び本会員が、禁止事項のいずれかに該当する場合には、会員登録を拒否し又は会員登録の抹消をする場合があり、その場合、理由については一切開示しないものとします。
                ５．本会員は、登録事項に変更があった場合に、当社の定める方法により、直ちに登録事項の変更をするものとします。
                ６．本会員が、前項の変更を直ちにしなかった場合に、それによって不利益を負ったとしても、当社は一切の責任を負わないものとします。
                ７．本会員は、当社の指定する方法で当社に通知することにより、本会員の登録を抹消することができます。

            </p>
        </div>
        <div class="terms3">
            <h3>パスワード及び会員ＩＤの管理</h3>
            <p>
                １．本会員は、当社から通知される本サービスに関するパスワード及び会員ＩＤ（以下「本パスワード等」といいます。）を適切に管理・保管するものとします。
                ２．本パスワード等は本会員のみが利用することができ、第三者に利用させ、又は売買、貸与、名義変更などしてはならないものとします。
                ３．本会員は、本パスワードの管理・保管が不十分であった場合、第三者に利用させる等した場合等、損害賠償も含め一切の責任を負うものとし、当社は一切の責任を負わないものとします。

            </p>
        </div>

        <div class="terms4">
            <h3>禁止事項</h3>
            <p>
                ユーザーが下記の列挙事由のいずれかに及んだ場合、当社は、事前に通知又は催告することなく、会員資格の剥奪、本サービスの利用の中止、ユーザーの資料請求及び問い合わせ等に応じないこと等がございます。
                1.意図的に虚偽の情報を提供する行為
                2.他人になりすまして情報等を送信する行為
                3. 著作権、商標権、プライバシー権、氏名権、肖像権、名誉等の他人の権利を侵害する行為
                4.本サービス上に掲載されている情報を無断で転載する行為
                5.個人や団体を誹謗中傷する行為
                6.法令、公序良俗に反する行為、またはそのおそれのある行為
                7.本サービスを利用しての営利を目的とした情報提供等の行為
                8.本サービスの運営を妨げる行為、または当社の信頼を毀損する行為
                9. ６ヶ月以上本サービスの利用をしない行為
                10．当社からの問い合わせなどに対して１４日以内に応答しない行為
                11.その他、当社が本サービスの利用、又は会員としての登録が適切でないと判断した場合

            </p>
        </div>

        <div class="terms5">
            <h3>反社会的勢力の排除</h3>
            <p>
                ユーザーは、現在、暴力団、暴力団員、暴力団員でなくなった時から５年を経過しない者、
                暴力団準構成員、暴力団関係企業、総会屋等、社会運動等標ぼうゴロまたは特殊知能暴力集団等、その他これらに準ずる者（以下これらを「暴力団員等」といいます。）に該当しないこと、および次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約するものとします。
                ユーザーが当該表明に反した場合、当社は、ユーザーの資料請求及び問い合わせ等に応じないことがございます。
                1.暴力団員等が経営を支配していると認められる関係を有すること
                2.暴力団員等が経営に実質的に関与していると認められる関係を有すること
                3.自己もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に暴力団員等を利用していると認められる関係を有すること
                4.暴力団員等に対して資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること
                5.役員または経営に実質的に関与している者が暴力団員等と社会的に非難されるべき関係を有すること
                6.ユーザーは、自らまたは第三者を利用して次の各号の一にでも該当する行為を行わないことを確約するものとします。
                7.暴力的な要求行為
                8.法的な責任を超えた不当な要求行為
                9.取引に関して、脅迫的な言動をし、または暴力を用いる行為
                10.風説を流布し、偽計を用いまたは威力を用いて当社、他の利用者、その他第三者の信用を毀損し、または当社、他の利用者、その他第三者の業務を妨害する行為
                11.その他前各号に準ずる行為
            </p>
        </div>

        <div class="terms6">
            <h3>当社の責任</h3>
            <p>
                ユーザーによる本サービスのご利用（これらに伴う当社または第三者の情報提供行為等を含みます）により生じる一切の損害
                （精神的苦痛、その他の金銭的損失を含む一切の不利益）につき、当社は故意又は過失がない限り責任を負わないものとします。
                また、当社は、その他、本サービスを通じてアクセスできる第三者企業が提供するサイトおよびサービス、
                もしくは本サービスにおいて懸賞や販売促進活動などを行っている第三者企業により生じる一切の損害につき、
                一切責任を負わないものとします。なお、当社が責任を負う場合であっても、
                当社の故意または重過失がない限り、当社の責任は直接かつ通常の損害に限られるものとします。
            </p>
        </div>
        <div class="terms7">
            <h3>不可抗力</h3>
            <p>
                当社は通常講ずるべきウィルス対策では防止できないウィルス被害、
                天変地異による被害、その他当社の責によらない事由(以下「不可抗力」といいます)による
                被害が生じた場合には、一切責任を負わないものとします。当社はこれらの不可抗力によって、
                本サービスにおけるデータが消去・変更されないことを保証できません。
                ユーザーは、本サービスにおけるデータを自己の責任において保存いただくようお願いします。

            </p>
        </div>

        <div class="terms8">
            <h3>本サービスの停止等</h3>
            <p>
                １．当社は、次の各号のいずれかに該当する場合には、利用者に事前の通知することなく、本サービスの全部又は一部を停止又は中断することができるものとします。
                （１）コンピューター・システムの点検又は保守作業を緊急に行う場合
                （２）火災、地震、落雷、台風、天変地異、戦争、テロ、デモ、事故などが生じた場合
                （３）その他、当社がやむをえぬ事情により停止又は中断を必要と判断した場合
                ２．当社は前項に基づき、当社が行った措置に基づき利用者に生じた損害について一切の責任を負いません。

            </p>
        </div>

        <div class="terms9">
            <h3>本サービス提供情報</h3>
            <p>
                当社は、本サービスにおいて以下の各号のいずれについても保証するものではありません。
                1.本サービス提供情報の提供に不具合やエラーや障害が生じないこと
                2.本サービス提供情報が正確なものであること
                3.本サービス提供情報を通じて入手できる商品、役務、情報などがユーザーの期待を満たすものであること

            </p>
        </div>

        <div class="terms10">
            <h3>個人情報の取扱</h3>
            <p>
                『プライバシーポリシー』をご確認ください。
            </p>
        </div>
        <div class="terms11">
            <h3>本サービス提供情報の変更等</h3>
            <p>
                当社は、ユーザーへの事前の通知なくして、LoTreの変更、一時的もしくは長期的な中断、または終了をすることがあります。
            </p>
        </div>
        <div class="terms12">
            <h3>利用規約の変更</h3>
            <p>
                当社は本利用規約を随時変更することができるものとします。変更をした旨を本サービス内のいずれかで事前に告知するとします。変更後の本サービスの利用をもって、すべてのユーザーが承諾したものとみなします。
            </p>
        </div>
        <div class="terms13">
            <h3>準拠法</h3>
            <p>本利用規約の準拠法は日本法とし、日本法によって解釈されます。</p>
        </div>
        <div class="terms14">
            <h3>管轄裁判所</h3>
            <p>本利用規約又は本サービス利用に関連する一切の紛争については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。</p>
        </div>

    </div>



</section>