<section class="container" style="padding-bottom: 100px;">

    <div class="container">
        <div class="terms">
            <h1>利用規約</h1>
            <p>Legal Information & Notices</p>
        </div>
        <hr style="color:gray; width:100%; size:2px;margin-top:45px;">

        <div class="terms1">
            <h3>Terms1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="terms2">
            <h3>Terms2</h3>
            <p>本サイト上の、コンテンツのデザイン、構成、選択、コーディネート、表現、「ルックアンドフィール」およびアレンジを含みますがこれらに限られない、すべてのテキスト、グラフィックス、ユーザインターフェイス、ビジュアルインターフェイス、写真、商標、ロゴ、音声、音楽、作品およびコンピュータ·コード（以下、総称して「本コンテンツ」といいます）は、Appleに権利帰属もしくは管理されている、またはAppleがライセンスを付与もしくはライセンスを受けているものであり、トレードドレス、著作権、特許および商標に関する法律、ならびにその他の知的財産権および不正競争防止に関する法律により保護されています。

                本利用規約において明示されていない限り、本サイトまたは本コンテンツを公表、頒布または商業利用のため、Appleの書面による事前の同意なくしていかなる方法によっても（「ミラーリング」を含みます）他のコンピュータ、サーバ、ウェブサイトその他媒体にコピー、複製、再発行、アップロード、掲示、公表、エンコーディング、翻訳、転送、頒布することはできません。

                お客様は、以下の条件に従っていただける限り、Appleによって本サイトからのダウンロードが可能とされているAppleの製品およびサービスに関する情報（データシート、知識ベースの記事、その他類似のマテリアル）をご利用いただけます。
                (1) ドキュメントの複製物から登録商標権や著作権などの権利に関する表示を除去しないこと。 (2)
                情報を私的、非商業的な参考用の目的でのみ使用し、ネットワークコンピュータ上へのコピーや配信、メディアを介しての放送などには使用しないこと。 (3) 情報を改変しないこと。 (4)
                ドキュメントに関して追加的な表明または保証をしないこと。</p>
        </div>
        <div class="terms3">
            <h3>Terms3</h3>
            <p>(1)
                当社は、本サービスの提供に際して細心の注意を払っておりますが、本サービスの品質につきましては、情報の適合性、完全性、正確性、安全性、合法性、最新性その他一切の保証をいたしません。
                (2)
                当社は、本サービスのご利用またはご利用不能により生じる損害につき、当社の故意または重過失による損害を除き、責任を負わないものとします。
                (3)
                当社は、このウェブサイトのご利用に起因するソフトウェア、ハードウェア上の事故、通信環境の障害、皆さまと第三者の間において生じたトラブル、その他の事故等による全ての損害について、責任を負わないものとします。
                (4)
                当社は、予告なく、本サービスの内容を変更もしくは中止し、または本サービスの一部もしくは全部を中断もしくは停止することがあります。このとき、当社は、本サービスの内容の変更もしくは中止、または、本サービスの中断もしくは停止等により皆さまが被った損害について、責任を負わないものとします。
            </p>
        </div>

        <div class="terms4">
            <h3>Terms4</h3>
            <p>このウェブサイトは、ウェブサイトの内容を皆さまがより便利にご利用いただけるようにするため、
                ウェブ・ビーコンを用いたアクセス解析ツールを使用しています。もっとも、ウェブ・ビーコンを使用することで、ご利用いただく皆さまの個人情報を取得することはありません。
            </p>
        </div>

        <div class="terms5">
            <h3>Terms5</h3>
            <p><b>Appleは、本サイトまたは本サイトのいかなるコンテンツ、サービスまたは機能にエラーや障害がないこと、瑕疵が修正されること、
                    および本サイトの使用により特定の結果を得られることをお約束するものではありません。本サイトおよび本コンテンツは、
                    「現状有姿のまま」および「可能な範囲で」提供されます。本サイトにより提供されるすべての情報は通知なく変更されることがあります。Appleは、お客様が本サイトからダウンロードしたファイルやその他のデータがウイルス、汚染、有害な内容を含まないことを保証しません。Appleは、黙示･明示を問わず、正確性、第三者の権利非侵害性、商品性、特定目的適合性に対する保証をしないことを含む一切の保証をしません。Appleは、お客様による本サイトおよび／またはAppleのサービスの利用に関する第三者の作為、不作為に関して一切の責任を否認します。お客様は、本サイトおよびリンクしたサイトの利用に関するすべての責任を負います。本サイトまたは本コンテンツに関するお客さまの不満足を解消する唯一の手段は、本サイトまたは本コンテンツの一切の使用を停止することです。上記の救済手段に関する制限は、当事者間の交渉に基づく合意の一部を構成します。
                </b></p>
            <p style="margin-top:20px;">
                上記保証の否認は、契約違反、不法行為、過失その他請求の原因のいかんを問わず、不履行、エラー、不作為、障害、削除、瑕疵、作動または通信の遅延、コンピュータウイルス、通信ラインの障害、盗難、破壊、不正アクセス、改変または使用により生じるすべての損害、責任または損害に適用されるものとします。

                Appleは、随時、通知なくして以下を行う権利を有するものとします。 (1) 本サイトもしくは本サイトの一部の運用またはこれに対するアクセスを理由のいかんを問わず修正、停止または終了させること。 (2)
                本サイトまたは本サイトの一部、およびこれに適用されるいかなるポリシーまたは条件についても修正または変更すること。 (3)
                定期的または不定期的な保守、エラーの是正やその他の変更のために本サイトまたは本サイトの一部の運用を中断すること。
            </p>
        </div>
    </div>



</section>