<style>
  .columns {
    margin: 0;
  }

  .navbar-brand {
    padding-left: 100px;
  }

  .navbar-brand {
    padding-left: 100px;
  }

  /*お問い合わせボタン*/
  .btn-square-pop {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #fff;
    background: #fd9535;
    /*背景色*/
    border-bottom: solid 2px #d27d00;
    /*少し濃い目の色に*/
    border-radius: 4px;
    /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }

  /*お問い合わせボタンのアニメ*/
  .btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

  /*入力フォーム*/

  @media screen and (max-width: 480px) {
    .navbar-brand {
      padding-left: 0px;
    }
  }
</style>
<section class="container" style="padding-bottom: 100px;">
  <div class="container_center" style="padding: 20px;  ">
    <div class="center" style="  width:600px;    margin:  0 auto;">
      <div class="title" style="font-size:50px;">
        <h1 style="font-size: 50px;">{{ this.title }}</h1>
      </div>

      <div class="content">
        <div class="photo1">
          <img
            src="{{ this.fileUrl }}"
            style="height:400px; width:600px; right:auto; left:auto;"
          />
        </div>
        <div [innerHTML]="this.htmlContent"></div>
        <div class="button_content" style="text-align: center;">
          <button
            class="button is-link"
            style="background-color:#ee771c;font-size: 16px;"
            (click)="newRoom()"
          >
            応募&問い合わせする
          </button>
        </div>

        <div style="padding-top: 30px;">
          <label
            class="label"
            style="font-size: 18px;text-decoration: underline;"
            >Comment</label
          >

          <div class="media-content">
            <article class="media" *ngFor="let comment of comments">
              <div class="content">
                <p>
                  <strong>{{ comment.user.username }}</strong>
                  <br />
                  {{ comment.content }}
                  <br />
                </p>
              </div>
            </article>
          </div>

          <div class="field" style="padding-top: 30px;">
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Textarea"
                style="font-family: none;"
                name="comment"
                [(ngModel)]="comment"
              ></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button
                class="button is-link"
                style="background-color:#f4ad76;font-size: 14px;font-family: none;"
                (click)="post()"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
