<style>
  .columns {
    margin: 0;
  }

  .navbar-brand {
    padding-left: 100px;
  }

  .navbar-brand {
    padding-left: 100px;
  }

  /*お問い合わせボタン*/
  .btn-square-pop {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #fff;
    background: #fd9535;
    /*背景色*/
    border-bottom: solid 2px #d27d00;
    /*少し濃い目の色に*/
    border-radius: 4px;
    /*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.2),
      0 2px 2px rgba(0, 0, 0, 0.19);
    font-weight: bold;
  }

  /*お問い合わせボタンのアニメ*/
  .btn-square-pop:active {
    border-bottom: solid 2px #fd9535;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  }

  /*入力フォーム*/

  @media screen and (max-width: 480px) {
    .navbar-brand {
      padding-left: 0px;
    }
  }
</style>
<section class="container" style="padding-bottom: 100px;">
  <div class="container_center" style="padding: 20px;  ">
    <div class="center" style="  width:600px;    margin:  0 auto;">
      <div class="title" style="font-size:50px;">
        <h1 style="font-size: 50px;">デザイナーで</h1>
        <h1 style="font-size: 50px;">あり続けるために</h1>
      </div>

      <div class="content">
        <p style="margin-bottom:40px;">
          デザイナーとして働いていくために必要なものってなんだろう。
        </p>

        <p style="margin-bottom:40px;">
          自由な発想力やクリエイティビティはもちろん、体力も必要だし、社会人と<br />しての一般常識も大切。見積もりや契約、事務仕事だって自分でできたほう<br />がいい。
        </p>

        <p style="margin-bottom:40px;">
          知り合いのデザイナーの人たちの働きを見ていると、本当に幅広いスキル<br />や経験が求められる仕事だなと感じます。
        </p>

        <p style="margin-bottom:40px;">
          デザイン設計事務所のホログラムは、そんな問いと向き合ってきた会社。
        </p>

        <p style="margin-bottom:60px;">
          商業施設の空間デザインを中心に、出店場所や業態、コンセプトなど初期<br />段階のアイデア出しから、詳細な見積もり、竣工検査まで、一人ひとりの<br />
          デザイナーが関わるというスタンスをとっています。
        </p>

        <div class="photo1">
          <img
            src="/assets/img/detail/1.jpg"
            style="height:400px; width:600px; right:auto; left:auto;"
          />
        </div>

        <p style="margin-bottom:40px;">
          意匠だけでなく、空間づくりにまつわるさまざまなことができて一人<br />
          前のデザイナー、というのがホログラムでの考え方。
        </p>

        <p style="margin-bottom:40px;">
          今回は、デザイナーとアシスタントデザイナーを募集します。
        </p>

        <p style="margin-bottom:100px;">
          デザインの仕事が何より好きで、できるだけ長く続けていきたい。<br />そう思っている人に知ってほしい会社です。
        </p>

        <p style="margin-bottom:40px;">東京・表参道。</p>

        <p style="margin-bottom:40px;">
          地下鉄の駅を出て、背の高いビルが並ぶ青山通りをまっすぐ進む。<br />５分ほど歩いたところで、ホログラムが入るビルに到着した。
        </p>
        <p style="margin-bottom:40px;">
          オフィスは８階。案内された会議室からは、東京タワーや六本木ヒルズ<br />など都心の風景が一望できる。
        </p>
        <div class="photo2">
          <img
            src="/assets/img/detail/2.jpg"
            style="height:400px; width:600px; right:auto; left:auto;"
          />
        </div>

        <p style="margin-bottom:40px;">
          外の景色を眺めながら待っていると、社員の皆さんがやってきた。
        </p>
        <p style="margin-bottom:40px;">
          まず紹介されたのはデザイナーの鎌田さん。<br />ホログラムに入社して４年目になる方だ。
        </p>
        <div class="photo3">
          <img
            src="/assets/img/detail/3.jpg"
            style="height:400px; width:600px; right:auto; left:auto;"
          />
        </div>

        <p style="margin-bottom:40px;">
          「以前はアトリエ系のデザイン事務所で９年ほど働いていて。<br />
          ほかの会社でも働いてみたいと考えていたとき紹介してもらったのが、<br />
          ホログラムでした。まずはどんな会社か話だけでも聞いてみようと、事務所を訪れてみたんです」
        </p>
        <p style="margin-bottom:40px;">
          ホログラムは、今年で22期目を迎えるデザイン設計事務所。
        </p>
        <p style="margin-bottom:40px;">
          飲食やアパレル、物販といった商業施設をメインに設計デザインを<br />手がけていて、2014年からは博報堂グループに加わっている。
        </p>
        <div class="button_content" style="text-align: center;">
          <button
            class="button is-link"
            style="background-color:#ee771c;font-size: 16px;"
          >
            応募&問い合わせする
          </button>
        </div>

        <div style="padding-top: 30px;">
          <label
            class="label"
            style="font-size: 18px;text-decoration: underline;"
            >Comment</label
          >
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Eiichi Sugiyama</strong>
                  <br />
                  とても素敵な求人ですね
                  <br />
                </p>
              </div>
              <article class="media">
                <div class="media-content">
                  <div class="content">
                    <p>
                      <strong>Taro Tanaka </strong>
                      <br />
                      週どのくらいから働くことができますか？？？
                      <br />
                    </p>
                  </div>
                </div>
              </article>
            </div>
          </article>
          <div class="field" style="padding-top: 30px;">
            <div class="control">
              <textarea
                class="textarea"
                placeholder="Textarea"
                style="font-family: none;"
              ></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button
                class="button is-link"
                style="background-color:#f4ad76;font-size: 14px;font-family: none;"
              >
                Submit
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
