<div class="container">
  <div class="card" style="padding: 20px;">
    <div style="padding-bottom:10px; ">
      <input
        type="text"
        class="form-control"
        placeholder="Title"
        value="Title"
      />
    </div>
    <angular-editor
      [config]="config"
      [(ngModel)]="htmlContent"
    ></angular-editor>
    <div class="row">
      <div class="update ml-auto mr-auto">
        <button type="submit" class="btn btn-primary btn-round">
          Publish
        </button>
      </div>
    </div>
  </div>
</div>
