.room
    font-size: 2rem
    padding: 2rem

.chat
    display: flex
    flex-direction: column
    height: 80vh
    padding: 0 3rem
    .chat-box
        height: 65vh
        overflow-y: scroll
        .message-content
            height: 100%
    .chat-add
        padding-top: 1rem
        .inputfield
            height: 7rem

app-footer
    margin-top: auto