<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row" style="width:100%;">
          <div class="col-md-6">
            <h4 class="card-title">連絡候補リスト</h4>
          </div>
          <div class="col-md-6">
            <h4 class="card-title" style="float: right;">
              <button
                type="submit"
                class="btn btn-primary btn-round"
                style="font-size: 14px;margin:unset!important;"
                (click)="search()"
              >
                検索
              </button>
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary" style="color: #f6bb8d!important;">
              <th>
                Name
              </th>
              <th>
                Appeal
              </th>
              <th>
                Area
              </th>
              <th>
                性格
              </th>
              <th>
                スキル
              </th>
              <th>
                Request
              </th>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; let i = index">
                <td>{{ user.lastName }}&nbsp;{{ user.firstName }}</td>
                <td>"{{ user.about }}"</td>
                <td>
                  東京都・中央区
                </td>
                <td>
                  <div class="d-flex">
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn  btn-round"
                        style="background-color: #f6b989;"
                      >
                        照れ屋
                      </button>
                    </div>
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn  btn-round"
                        style="background-color: #f6b989;"
                      >
                        気さく
                      </button>
                    </div>
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn  btn-round"
                        style="background-color: #f6b989;"
                      >
                        お調子者
                      </button>
                    </div>
                  </div>
                </td>
                <td style="text-align: center;">
                  <div class="d-flex">
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn  btn-round"
                        style="background-color:#70d4d7"
                      >
                        プログラミング
                      </button>
                    </div>
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn  btn-round"
                        style="background-color:#70d4d7"
                      >
                        新規事業
                      </button>
                    </div>
                    <div style="padding: 1px;">
                      <button
                        type="submit"
                        class="btn btn-round"
                        style="background-color:#70d4d7"
                      >
                        会計
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  <button
                    type="submit"
                    class="btn btn-primary btn-round"
                    style="background-color: #ee771c;"
                    onclick="location.href='./#/edit'"
                  >
                    リクエスト
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
