<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img src="assets/img/damir-bosnjak.jpg" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img
              class="avatar border-gray"
              src="assets/img/mike.jpg"
              alt="..."
            />
            <h5 class="title">Techforward株式会社</h5>
          </a>
          <p class="description">
            @techforward
          </p>
        </div>
        <p class="description text-center">
          "ITシステム開発なら御社に！"
        </p>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Companyname</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Companyname"
                  value="eiichisugiyama"
                />
              </div>
            </div>

            <div class="col-md-7 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" placeholder="Email" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="City"
                  value="東京都江東区"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea class="form-control textarea">
なんでも作るシステム開発会社です</textarea
                >
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Background Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Profile Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round">
                Update Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
