<div class="row">
  <div class="col-md-4">
    <div class="card card-user">
      <div class="image">
        <img [src]="fileUrlBackground" alt="..." />
      </div>
      <div class="card-body">
        <div class="author">
          <a href="#">
            <img class="avatar border-gray" [src]="fileUrlProfile" alt="..." />
            <h5 class="title">{{ companyName }}</h5>
          </a>
          <p class="description">@{{ companyId }}</p>
        </div>
        <p class="description text-center">"{{ companyAbout }}"</p>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="row">
            <div class="col-md-5 pr-1">
              <div class="form-group">
                <label>Companyname</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Companyname"
                  name="companyName"
                  [(ngModel)]="companyName"
                />
              </div>
            </div>

            <div class="col-md-7 pl-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  placeholder="Email"
                  name="companyEmail"
                  [(ngModel)]="companyEmail"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 pr-1">
              <div class="form-group">
                <label>City</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="City"
                  value="東京都江東区"
                />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label>About Me</label>
                <textarea
                  class="form-control textarea"
                  name="companyAbout"
                  [(ngModel)]="companyAbout"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Background Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"
                    (change)="onFileChangedBackground($event)"
                    #fileInput
                  />
                  <label class="custom-file-label" for="inputGroupFile01"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div *ngIf="fileUrlBackgroundTmp" class="preview-image">
                <img [src]="fileUrlBackgroundTmp" alt="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <label>Profile Img</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile02"
                    aria-describedby="inputGroupFileAddon02"
                    (change)="onFileChangedProfile($event)"
                    #fileInput
                  />
                  <label class="custom-file-label" for="inputGroupFile02"
                    >Choose file</label
                  >
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div *ngIf="fileUrlProfileTmp" class="preview-image">
                <img [src]="fileUrlProfileTmp" alt="" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button
                type="submit"
                class="btn btn-primary btn-round"
                (click)="publish()"
              >
                Update Profile
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
